$fGame: 'Times', 'Times New Roman', serif;
$fDisplay: 'Assistant', sans-serif;

$cBgBody: #f9f9f9;
$cTextBody: #333;
$cLowlight: #333;
$cHighlight: #dcdcdc;
$cDisabled: #999;
$cWarning: #c66;

$cCellBg: $cBgBody;
$cBgSolved: $cLowlight;
$cTextSolved: $cBgBody;

$wCell: 10mm;

$fsTextBody: 1em;
$fsCell: $wCell / 2;
$fsButton: $fsCell;
$fsBubble: $fsTextBody * 0.800;

$fsWordlist: $fsCell * 1.200;
$margin: $wCell / 2;

$cRing: $cLowlight;
$wRing: $wCell * 2 / 3;
$ringThickness: 2px;
$ringTransformOrigin: $wRing / 2 + $ringThickness;

