
$cBgBody: #f6f6f6;
$cTextBody: #333;
$cCellBg: $cBgBody;
$cBgSolved: $cTextBody;
$cTextSolved: $cBgBody;

$cellWidth: 12mm;
$cellFontSize: $cellWidth / 2;
$buttonFontSize: $cellFontSize;

$wordlistFontSize: $cellFontSize * 1.333;
$margin: $wordlistFontSize;

$cRing: #999;
$ringSize: $cellWidth * 2/3;
$ringThickness: 2px;
$ringTransformOrigin: $ringSize/2 + $ringThickness;

$cBgDisabled: #999;

/* ========================================================================== */

body {
	background-color: $cBgBody;
	color: $cTextBody;
}
#main {
	margin: 0;
	padding: 0 $margin;
	border: 0;
	-webkit-backface-visibility: hidden;
}

a {
	color: $cTextBody;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

h1 {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: $wordlistFontSize;
	a:hover {
		text-decoration: none;
	}
}

/* ========================================================================== */

#wffield {
	clear: both;
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-backface-visibility: hidden;
}

#wfgrid {
	position: relative;
	margin: 0;
	padding: 0;
	cursor: pointer;
	// width is set in code.
}

td.cell {
	width: $cellWidth;
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: $cellWidth / 2;
	color: $cTextBody;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	.gc {
		position: absolute;
		font-size: $cellFontSize;
		top: $cellWidth * .25;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
	}
}
td.cell:after {
	content: '';
	display: block;
	margin-top: 100%;
}
td.cellsolved {
	color: $cTextSolved;
}

/* ========================================================================== */

#toolbar {
	position: relative;
	margin: 0.5em 0;
	padding: 0;
	text-align: left;
	font-family: sans-serif;
	font-size: $buttonFontSize;

	button {
		margin: 0;
		padding: 0.2em 0.5em;
		border: solid 1px $cBgSolved;
		border-radius: $buttonFontSize;
		background-color: $cBgSolved;
		color: $cTextSolved;
		font-size: $buttonFontSize;
		text-align: center;
		&:hover {
			cursor: pointer;
		}
		&:active {
			background-color: $cBgBody;
			color: $cTextBody;
		}
		&:disabled {
			background-color: $cBgDisabled;
			border-color: $cBgDisabled;
		}
	}

	#tbShowAdv {
		font-size: $buttonFontSize * 2 / 3;
	}

	#tbadvanced {
		display: none;
		margin: 1em 0 0 0;
	}
}

#permalink {
	display: inline-block;
	font-size: $buttonFontSize * 2 / 3;
}


/* ========================================================================== */

#info {
	display: inline-block;
	vertical-align: top;
	position: relative;
}

#wflist {
	position: relative;
	margin: 1em auto;
	padding: 0;
	text-align: center;
}

.wfword {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0 $margin;
	font-size: $wordlistFontSize;
	background-color: $cBgBody;
	color: $cTextBody;
	//border-radius: $margin;
}
.wfsolved {
	//background-color: $cBgSolved;
	//color: $cTextSolved;
}

/* ========================================================================== */

.ring {
	display: block;
	position: absolute;
	z-index: 1;
	margin: 0;
	padding: 0;
	border-style: solid;
	border-width: $ringThickness;
	border-color: $cRing;
	border-radius: 2em;
	background-color: transparent;
	color: $cBgSolved; // HACK: use text color to hide the alt state color for code to peek at (since we never have any text in a ring)
	height: $ringSize;
	width: $ringSize;
	top: 0;
	left: 0;
	transform-origin: $ringTransformOrigin $ringTransformOrigin;
	-webkit-backface-visibility: hidden;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.ringsolved {
	// set these in js.
	//background-color: $cBgSolved;
	//border-color: $cBgSolved;
	z-index: -2;
}

#message {
	font-family: monospace;
	clear: both;
}

/* ========================================================================== */

#help {
	margin: 4em 0 0 0;
	font-family: sans-serif;
}

