@import "node_modules/font-awesome/scss/font-awesome.scss";
@import url('https://fonts.googleapis.com/css?family=Assistant:300');

$fGame: 'Times', 'Times New Roman', serif;
$fDisplay: 'Assistant', sans-serif;

$cBgBody: #f6f6f6;
$cTextBody: #333;
$cCellBg: $cBgBody;
$cBgSolved: $cTextBody;
$cTextSolved: $cBgBody;

$wCell: 12mm;

$fsTextBody: 1em;
$fsCell: $wCell / 2;
$fsButton: $fsCell;
$fsBubble: $fsTextBody * 0.800;

$fsWordlist: $fsCell * 1.333;
$margin: $fsWordlist;

$cRing: #999;
$wRing: $wCell * 2/3;
$ringThickness: 2px;
$ringTransformOrigin: $wRing/2 + $ringThickness;

$cBgDisabled: #999;
$cWarning: #c66;

/* ========================================================================== */

body {
	background-color: $cBgBody;
	color: $cTextBody;
	font-size: $fsTextBody;
}
#main {
	position: relative;
	margin: 0;
	padding: 0 $margin;
	border: 0;
	-webkit-backface-visibility: hidden;
}

a {
	color: $cTextBody;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

h1 {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: $fDisplay;
	font-size: $fsWordlist;
	a:hover {
		text-decoration: none;
	}
}

input {
	background-color: $cBgBody * 0.96;
	color: $cTextBody;
	font-family: $fGame;
	font-size: $fsWordlist;
}

.warning {
	font-family: $fDisplay;
	font-weight: bold;
	color: $cWarning;
}

/* ========================================================================== */

#playField {
	clear: both;
	display: inline-block;
	vertical-align: top;
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-backface-visibility: hidden;
}

#wfgrid {
	position: relative;
	margin: 0;
	padding: 0;
	cursor: pointer;
	// width is set in code.
}

td.cell {
	width: $wCell;
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	//border-radius: $wCell / 2;
	color: $cTextBody;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	.gc {
		position: absolute;
		font-size: $fsCell;
		top: $wCell * .25;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
	}
}
td.cell:after {
	content: '';
	display: block;
	margin-top: 100%;
}
td.cellsolved {
	color: $cTextSolved;
}

/* ========================================================================== */

#toolbar {
	position: relative;
	margin: 0.5em 0;
	padding: 0;
	text-align: left;
	font-family: $fDisplay;
	font-size: $fsButton;
	overflow: hidden;
}

button {
	margin: 1mm;
	padding: 0.167em 0.333em;
	border: solid 1px $cRing;
	border-radius: 0.500em;
	background-color: $cBgBody;
	color: $cTextBody;
	font-size: $fsButton;
	text-align: center;
	&:hover {
		cursor: pointer;
	}
	&:active {
		background-color: $cRing;
		color: $cBgBody;
	}
	&:disabled {
		background-color: $cBgBody;
		border-color: $cRing;
		color: $cRing;
	}
}

.tbseparator {
	margin: 0 $fsButton;
	padding: 0 0.333em;
	border: 0;
}

#tbEdit {
}

#tbadvanced {
	display: none;
	margin: 0.25em 0 0 0;

	h3 {
		margin: 0;
		font-size: 1em;
		white-space: nowrap;
	}

	table#options {
		th {
			padding: 0 1em 0 0;
		}
		td.scale {
			padding: 0;
			font-size: 0.8em;
		}
	}
}

#permalink {
	display: inline-block;
	font-size: $fsButton * 2 / 3;
}

.button-reverse {
	background-color: $cTextBody;
	color: $cBgBody;
}

/* ========================================================================== */

#info {
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin: 0 auto;
	padding: 0;
	text-align: left;
	overflow: hidden;
}

#wflist {
	position: relative;
	margin: 2mm auto 1em auto;
	padding: 0;
	text-align: left;

}

.wfword {
	position: relative;
	display: block;
	overflow: hidden;
	list-style: none;
	margin: 0;
	padding: 0 $margin;
	font-size: $fsWordlist;
	background-color: $cBgBody;
	color: $cTextBody;
	//border-radius: $margin;
}

.wfsolved {
	//background-color: $cBgSolved;
	//color: $cTextSolved;
}

/* ========================================================================== */

.ring {
	display: block;
	position: absolute;
	z-index: 1;
	margin: 0;
	padding: 0;
	border-style: solid;
	border-width: $ringThickness;
	border-color: $cRing;
	border-radius: 2em;
	background-color: transparent;
	color: $cBgSolved; // HACK: use text color to hide the alt state color for code to peek at (since we never have any text in a ring)
	height: $wRing;
	width: $wRing;
	top: 0;
	left: 0;
	transform-origin: $ringTransformOrigin $ringTransformOrigin;
	-webkit-backface-visibility: hidden;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.ringsolved {
	// set these in js.
	//background-color: $cBgSolved;
	//border-color: $cBgSolved;
	z-index: -2;
}

#message {
	font-family: monospace;
	clear: both;
}

/* ========================================================================== */

#editor {
	#editorlist {
		overflow: hidden;
		margin-top: 1em;
		li.editoritem {
			position: relative;
			list-style: none;
			display: block;
			margin: 0;
			padding: 0;
			font-size: $fsWordlist;

			label.warning {
				display: block;
				position: absolute;
				bottom: 0.25em;
				right: 0.25em;
				text-align: right;
				font-size: $fsWordlist / 2;
				font-weight: normal;
				color: $cBgBody;
			}
		}
	}

	#editTools {
		display: block;
		margin: 1em 0;
		text-align: left;
		font-family: $fDisplay;
		font-size: $fsButton;
		display: none;
		overflow: hidden;
	}
}

#editCommit {
	padding: 0.2em 2.0em;
}

/* ========================================================================== */

.bubble {
	position: absolute;
	overflow: hidden;
	margin: 0;
	width: 72mm;
	padding: 1em;
	border: solid 1px $cRing;
	border-radius: $fsBubble;
	background-color: $cBgBody;
	color: $cTextBody;
	font-family: $fDisplay;
	font-size: $fsBubble;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.help {
}
#playHelp {
}
#editHelp {
}

